body {
  background-image: url(../image/back.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.logInFormBody {
  padding-top: 60px !important;
}

.signUpFormBody {
  padding-top: 90px !important;
}

.moreOptions {
  margin-bottom: auto;
}
